@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
    color: white;
    margin: 0;
    padding: 0;
}

/* container1 */

.container1 {
    background-color: #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width : 70%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.content {
    display: flex;
    padding: 130px 0;
    gap: 200px;
}

.hero, .image {
    flex: 1;
}

.image {
    background-color: grey;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    font-weight: bold;
    width: 125px;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

/* container 2 */

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #1F2937;
}

.inner-container {
    width: 60%;
}

.header-info {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 36px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 150px;
    width: 100%
}

.images {
    border: 5px solid #3882F6;
    width: 137px;
    height: 150px;
    border-radius: 20px;
}

.info {
    max-width: 145px;
}

.image-text {
    text-align: center;
}

/* container 3 */

.container3 {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    flex-direction: column;
}

.quote-container {
    max-width: 58%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author-container {
    display: flex;
    justify-content: flex-end;
}

.quote-author {
    font-size: 26px;
    font-weight: bolder;
    margin-right: 40px;
}

/* container 4 */

.container4 {
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.invitation {
    width: 70%;
    padding: 20px 25px;
    background-color: #3882F6;
    display: flex;
    border-radius: 7px;
    padding: 60px 90px;
}

.texts {
    flex: 1;
}

.text1 {
    font-size: 26px;
    font-weight: bolder;
}

.text2 {
    font-size: 18px;
    font-weight: thick;
}

button[class="bordered"] {
    border: 3px solid #fff;
    padding: 0;
    width: 150px;
    height: 40px;
}

/* footer */

.footer {
    background-color: #1F2937;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.footer-text {
    text-align: center;
    font-size: 19px;
    
}